/* CSS declarations go here */

.buttons { 
  margin: auto;
}

button { 
  width: 60px;
  height: 60px;
  margin: 10px;
}

.bk { 
  //background-color: white;
  -webkit-transition: background-color 300 ease 0;
}
.bk-RED { 
  background-color: red;
}
